streamlit==1.44.1
pandas==2.2.3
requests==2.32.3
numpy==2.0.2
scikit-learn==1.6.1
faiss-cpu==1.10.0        # Replace with faiss-gpu==1.7.2 if using GPU
sentence_transformers==4.0.2
torch==2.5.1
transformers==4.50.3
flask==3.1.0
flask-cors==5.0.0
selenium==4.30.0
webdriver-manager==4.0.2
fastapi == 0.115.12
uvicorn == 0.34.0 